/* RESET */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/* ESTILOS GENERALES */
body {
  width: 100%;
  height: 100vh;
  background: rgb(196, 196, 196);
  background: linear-gradient(90deg, rgba(196, 196, 196, 0.5886729692) 0%, rgba(0, 0, 0, 0.5410539216) 100%);
  background-attachment: fixed;
}

/*agregar margen derecho al nav*/
.contenedor {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 20px;
}
.contenedor__img {
  width: 8%;
}
.contenedor__title {
  width: 45%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}
.contenedor .contenedor__title a {
  color: black;
  text-decoration: none;
}
.contenedor__nav {
  width: 47%;
}
.contenedor__nav .contenedor__ul {
  display: flex;
  justify-content: space-between;
}
.contenedor__nav .contenedor__ul .contenedor__a {
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

/*centrar texto y ver que sea responsive*/
.main__inicio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

.card__image {
  flex: 0, 5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card__image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.card__body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__title {
  text-align: center;
  margin: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.card__p {
  text-align: center;
  padding-right: 20px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}

/*CSS NOTICIAS*/
/*hacer una transicion/animacion*/
.noticias__title {
  text-align: center;
  margin: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.conteiner-general {
  text-align: center;
  margin-bottom: 20px;
}

.contenedor-imagenes {
  display: flex;
  justify-content: center;
  position: relative;
}

.contenedor-imagenes img {
  width: 350px;
  margin: 0.5rem;
  height: 350px;
  object-fit: cover;
}

.contacto__title {
  text-align: center;
  margin: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.main__contacto {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* ESTILOS DE FOOTER */
footer {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.redes-sociales a {
  text-decoration: none;
  color: black;
  margin: 0.3rem;
  font-size: 1.5rem;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info p {
  margin: 0 auto;
  padding-left: 1rem;
}

/*AGREGANDO ANIMACION AL MAIN DE SERVICIOS*/
.title__servicios {
  text-align: center;
  margin: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.section__servicios {
  display: flex;
  width: 100%;
  height: auto;
}
.section__servicios .img-container {
  position: relative;
  width: 0px;
  max-width: 100%;
  flex-grow: 1;
  margin: 0.5rem;
}
.section__servicios .img-container .img__p {
  position: absolute;
  bottom: 10px;
  left: 30%;
  margin: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
  border-radius: 5px;
  transition: transform 0.5s ease;
}

.section__servicios img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.349);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.section__servicios img:hover {
  transform: scale(1.2);
}

.section__servicios p:hover {
  transform: scale(1.2);
}

/*centrar texto y ver que sea responsive*/
.main__sobre-mi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

.main__img {
  flex: 0, 5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main__img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.main__info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__title {
  text-align: center;
  margin: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.main__p {
  text-align: center;
  margin: 1;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}

/*# sourceMappingURL=main.css.map */
