.contacto__title {
    text-align: center;
    margin: 1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
  }

  .main__contacto{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}