s/* ESTE ES EL RESET */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/* APLICANDO COLOR DE FONDO */
body{
  background: rgb(196, 196, 196);
  background: linear-gradient(
    90deg,
    rgba(196, 196, 196, 0.5886729691876751) 0%,
    rgba(0, 0, 0, 0.5410539215686274) 100%
  );
  background-attachment: fixed;
}

/* CSS DEL HEADER */

.nav-styles li{
  list-style-type: none;
  color: black
 }

a{
  text-decoration: none;
  color: black;
}


/*CSS MAIN*/
main {
  min-height: 100vh;
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.img-main {
  width: 40%;
  margin-left: 5rem;
}

/* ATIBUTO VALIDO PARA TODOS LOS TITULOS */
.title{
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

/* ATIBUTO VALIDO PARA TODOS LOS TEXTOS */
p{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

.info-main{
 width: 50%;
}

.text-container{
  width: 50%;
}



/*CSS NOTICIAS*/

.conteiner-general{
  text-align: center; /* Centra el título horizontalmente */
  margin-bottom: 20px; /* Agrega un espacio inferior al título (ajusta según necesites) */
}

.contenedor-imagenes {
   display: flex;
   justify-content: center;
   position: relative;
}

.contenedor-imagenes img {
width: 350px;
margin: 0.5rem;
height: 350px; /* Establece la altura deseada para las imágenes */
object-fit: cover; /* Ajusta la imagen para que se ajuste al tamaño de la caja sin deformarse */
}


/*CSS SERVICIOS*/

.main-servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.container {
  display: flex;
  justify-content: space-around;
  background: black;
  color: white;
  width: 100%;
}

.div-servicios {
  height: 300px;
  background-color: rgba(95, 86, 86, 0.486);
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* ESTILOS DE FOOTER */
footer{
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.redes-sociales a{
  text-decoration: none;
  color: black;
  margin: 0.3rem;
  font-size: 1.5rem;
}

.info{
  display: flex;
  align-items: center;
  justify-content: center;
}

.info p{
  margin: 0 auto;
  padding-left: 1rem;
}
